<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pidevs.socialsaddict"
    android:versionCode="6"
    android:versionName="6.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        
        <activity
            android:name="pidevs.socialsaddict.MainActivity"
            android:label="@string/app_name"
            android:logo="@drawable/ic_launcher"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".close" />
        <receiver android:name=".settinggg" />
        <receiver android:name=".report" />

        <service
            android:name="pidevs.socialsaddict.ServiceSocial"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </service>
   
    
        <activity
            android:name="pidevs.socialsaddict.Setting"
            android:label="@string/title_activity_setting" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pidevs.socialsaddict.MainActivity" />
        </activity>

        <receiver
            android:name="pidevs.socialsaddict.ServiceStarter"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        
    </application>
  

</manifest>